

<app-menu-title></app-menu-title>
<div class = container__articles>
    <div class="article__main"></div>
    <app-big-card id="1"photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4eNG1pGCYuxQK8ouZKWUkGa4cmA__XvNiwA&s"
    cardTitle=" Pensando Diferente, Superando Desafios e Criando Caminhos"
    
    ></app-big-card>
    <app-big-card id="2" photoCover="https://i.pinimg.com/474x/c1/f5/83/c1f583b9ffd365082401575365f1341f.jpg "
    cardTitle="Explorando Ideias, Vencendo Desafios e Oportunidades"
    
    ></app-big-card>
</div>

<div class = container__articles>
    <div class="article__main"></div>
    <app-big-card id="3" 
    photoCover="https://i.pinimg.com/474x/7f/ba/2f/7fba2fdf51540b56ef93d583bd18027c.jpg"
    cardTitle=" Inovação, Persistência e Sonhos Que Nunca Param"
    ></app-big-card>
    <app-big-card id="4"
     photoCover="https://i.pinimg.com/474x/d6/d6/d7/d6d6d75051a249ea214c9d96a6d81ec7.jpg  "
    cardTitle=" Transformando Sonhos em Realidade Através da Inovação "
    ></app-big-card>
</div>


   


